<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Expense Tracker
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <h4>Overview</h4>
    </ion-card-header>
  
    <ion-card-content>
        
      <ion-list>
        <ion-item>
          <ion-label>Accounts Balance</ion-label>
          <ion-badge slot="end">22k</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Income</ion-label>
          <ion-badge color="secondary" slot="end">118k</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Expenses</ion-label>
          <ion-badge color="tertiary" slot="end">34k</ion-badge>
        </ion-item>
        
      </ion-list>

    </ion-card-content>
  </ion-card>


  
  <ion-card>
    <ion-card-header>
      <h4>Expenses by Item</h4>
    </ion-card-header>
  
    <ion-card-content>
     
      <ion-list>
        <ion-item *ngFor="let item of expenses; let i = index">
          <ion-label> {{item.item}}</ion-label>
          <ion-badge slot="end">{{item.cost}}</ion-badge>
        </ion-item>
               
      </ion-list>

    </ion-card-content>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" size="small">
    <ion-fab-button >
      <ion-icon name="add" (click)="addExpense()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>





  
